<!-- views/partials/head.ejs -->

    <title>Saboteur</title>
    <meta charset="utf-8">

    <!-- Iconos de W3S -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/allthemes.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/tables.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/buttons.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/game.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/colors.css" media="screen">
