<div class="top-left-partida">
    <div>
      <a href="/usuario/profile">
        <button class="salir pacifico" style="vertical-align:middle;margin-right: 0px;"><span>Mis partidas</span></button>
      </a>
    </div>
    <div>
      <a href="/usuario/joingame">
        <button class="salir pacifico" style="vertical-align:middle;margin-right: 0px;"><span>Unirse a partida</span></button>
      </a>
    </div>
    <div>
      <a href="/newgame">
        <button class="salir pacifico" style="vertical-align:middle;margin-right: 0px;"><span>Crear partida</span></button>
      </a>
    </div>
</div>
<a href="/usuario/profile"><img class="top-center" src="/images/Logo.png"></a>
<div class="top-right">
       
        <div class="fotoPerfil"><img src="/usuario/obtenerImagen/<%=id_usuario%>" width="40" height="40" alt="casilla"></div>
        <button class="salirEstatico pacifico"><span><%=usuario%></span></button>
    <a href="/usuario/close">
        <button class="salir pacifico">Salir</button>
    <a>
</div>
