<div class="top-left-usuario">
    <div>
      <a href="/login">
        <button class="salir pacifico" style="vertical-align:middle;margin-right: 0px;"><span>Login </span></button>
      </a>
    </div>
    <div>
      <a href="/register">
        <button class="salir pacifico" style="vertical-align:middle;margin-right: 0px;"><span>Registro </span></button>
       </a>
    </div>
</div>
<img class="top-center" src="/images/Logo.png">
<div class="top-right">
    <button class="salirEstatico pacifico">Desconectado</button>
    <a href="/rules.html">
        <button class="salir pacifico">Reglas</button>
    <a>
</div>
