<!DOCTYPE html>
<html lang="es">
<head>
    <%- include partials/head %>
</head>
    <body>
        <div class="top-container pacifico">
            <img class="top-center" src="/images/Logo.png">
        </div>
        <div class="mid-container">
                <div class="caja">
                    <h2 class="pacifico">¡Vuelve pronto!</h2>
                    <img class="top-center" style="width: 69%;" src="/images/smaug1.png">
                    <br>
                    <p class="pacifico colorSubtitulo">Puedes <a href="/login" class="inicio">identificarte</a> o crear una <a href="/register" class="inicio">nueva cuenta</a> de usuario</p>
                    <br>
                </div>
        </div>
    </body>
</html>
