<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Error 404</title>
        <meta charset="UTF­8">
    </head>
    <body>
        <h1>404 - Página no encontrada</h1>
        <p>La dirección <code> <%= url %> </code> no existe</p>
    </body>
</html>
